name: Gradle CI Template

# Uncomment and adjust the following block when you turn this into a live project:
# on:
#   push:
#     branches:
#       - master
#   pull_request:
#     branches:
#       - master
on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: gradle

      - name: Ensure Gradle wrapper executable
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build
